<div id="<%= dom_id material %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= material.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Unit size</p>
    <%= material.unit_size %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Unit price</p>
    <%= material.unit_price %>
  </div>
</div>
